* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
:root {
    --cor-de-fundo: #121212;
    --cor-do-texto: #e0e0e0; 
    --cor-primaria: #756a44; 
    --cor-secundaria: #756a44;; 
    --cor-de-destaque: #c8a345; 
    --cor-da-borda: #292929; 
  }
body {
    overflow-x: hidden;
}

.nav-container{
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    padding: 0 2rem;
}
.navegacao{
    position: relative;
}
.logo{
    width: 200px;
    margin-top:15px ;
}
.menu{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display:inline-block;
}
.menu li{
 display: inline-flex;
    margin-left: 25px;
  
}
.menu a{
    text-decoration: none;
    color: #333;
}

.main-banner{
background-image:linear-gradient(rgba(0, 0, 0, 0.062), rgba(0, 0, 0, 0.295)),url(/Imagem/stfbranco.jpg);
    background-position: center;
    background-size: cover;
    transform: scaleX(-1);
    min-height: calc(100vh);
    opacity: 0.9;
}

h1{
    transform: scaleX(-1);
    font-size:3rem;
    text-align: center;
       color: #ffffff;
       font-weight: bold;
       margin: 0 20px;
   }
   span{
    color: var(--cor-de-destaque);
   }
   .subtitulo-home{
    text-align: center;
    font-size: 1.5rem;
    color: #eee;
    transform: scaleX(-1);
    margin: 0 20px;
}
.sobre{
    padding: 6rem 2rem;
}

.sobre-titulo{
    font-size: 3rem;
    color: #292929;
    text-align: center;
    margin-bottom: 90px;
}
.sobre-caixa{
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    max-width: 700px;
    margin: 10px auto;
    border-radius: 16px;
    border: 2px solid var(--cor-da-borda);
    backdrop-filter: blur(30px);

}

.sobre-descricao{
    text-align: justify;
    font-size: 1.2rem;
}

.atuacao{
padding:6rem 2rem;
}
.direitos-titulo{
    font-size: 3rem;
    color: var(--cor-da-borda);
    text-align: center;
    margin-bottom: 40px;
}
.direitos-caixa{

    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}
.direitos-imagem{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.direitos-card{
    display: block;
    grid-row: repeat(auto-fit, minmax(300px, 1fr));
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem;
    border-radius:16px ;
    border: 2px solid var(--cor-da-borda);
    backdrop-filter: blur(30px);
    overflow-x: hidden;
    transition: 0.5s all ease;
    cursor: pointer;
}

.direitos-card:hover{
    box-shadow: 0 10px 20px var(--cor-primaria);
    transform: translatey(-10px) scale(1.03);
}

.direitos-conteudo{
    padding: 1rem;
}

.subtitulo-direitos{
    font-size: 2rem;
    color: var(--cor-secundaria);
}
.direitos-descricao{
    font-size: 1.2rem;
    font-weight: 1.2rem;
}

/*serviços*/
.caracteristicas{
    padding: 5rem 0;
}
.caracteristicas ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.caracteristicas li{
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding:20px ;
}
.fas{
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-brain{
    color: #ef296b;
}
.fa-user-tie{
    color: #343a40;
}